
canvas {
 margin: auto; 
 display: block;
} 
html, body {
  textFont: ('Krungthep');
  margin: auto;
  width: 75%;
  padding: 0;
  color: black; 
  background-color: white;
  font-family: "ZCOOL XiaoWei", serif;
} 

h1, h2 {
  text-align: center; 
}

main{
 margin: auto;
}

p { 
  text-align: center;
  font-size: 18px;
}

div {
   margin: auto;
 display: block;
}

.nav ul{
  list-style-type: none;
  background-color: grey;
  padding: 0;
  position: fixed;
  margin: auto;
 overflow: hidden;
}

.nav li {
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #111;
}




